@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

@font-face {
  font-family: AnuratiRegular;
  src: url("./Anurati-Regular.otf") format("opentype");
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
:root {
  --size: 1.5;
  --backgroundColor: #222;
}

body {
  background-color: #222;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

/** DELETE LATER
.pa {
  margin: 50px auto;
  width: 600px;
  font: bold 90px "courier new", consolas, monaco, monospace;
  color: rgba(0, 255, 0, 0.99);
  border-right: 6px solid;
  overflow: hidden;
  animation: typing 5s steps(11, end) infinite,
}
*/

.helperToggle {
  position: fixed;
  z-index: 10000;
  border-radius: 5px;
  top: 2vh;
  right: 2vh;
  margin: 2vh;
  cursor: pointer;
  background-color: rgb(102, 102, 102);
  color: white;
  padding: 0.5em;
}

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  background-color: #222 !important;
}

@keyframes introName {
  0% {
    letter-spacing: -50px;
  }
  100% {
    letter-spacing: 0px;
  }
}

@keyframes introNameDesc {
  0% {
    letter-spacing: -1.5rem;
  }
  100% {
    letter-spacing: 0em;
  }
}

#simplifiedViewRoot {
  /* scroll-snap-type: y mandatory; */
  /* overflow-y: scroll; */
  /* height: 100vh; */
}

#simplifiedViewRoot > section {
  /* scroll-snap-align: start; */
}

.navItem {
  cursor: pointer;
}

.filtre--l{
  -webkit-mask: -webkit-linear-gradient(black, transparent 30%, black);
  -webkit-mask: linear-gradient(black, transparent 30%, black);
  -webkit-filter: blur(3px);
  mask: url('#mask-linear');
  filter: url('#filtre2');
}